# Ignore executables
*.exe
*.out
*.bin
*.lock

# Ignore object files
*.o

# Ignore build directories
/build/
build/
/.vscode
.vscode/
/target
target/
/logs
logs/

# Ignore log files
*.log
*.csv

# Ignore any generated temporary files
*.tmp
*~
